.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 280px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 24px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-size: 14px;
  flex-grow: 1;
  color: #475569;
}

.search-icon {
  width: 16px;
  height: 16px;
  color: #64748b;
}

.category-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.categories-list {
  padding-left: 0;
  list-style-type: none;
}

.category-item {
  margin-bottom: 12px;
  cursor: pointer;
}

.category-name {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.active-category-name {
  color: #0967d2;
  background-color: transparent;
  font-weight: 500;
}

.rating-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.ratings-list {
  padding-left: 0;
  list-style-type: none;
}

.rating-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.rating-style {
  height: 20px;
  width: 120px;
  margin-right: 8px;
}

.and-up {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.active-rating {
  color: #0967d2;
  font-weight: 500;
}

.clear-filters-btn {
  background-color: transparent;
  border: 1px solid #0967d2;
  color: #0967d2;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 32px;
  cursor: pointer;
  outline: none;
}
